.row div {
    border: 3px solid black;
    font-size: 140px;
    height: 150px;
    width: 150px;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
}

#board {
    float: right;
}

.row {
    clear: both;
}

#info {
    float: left;
    width: "30px";
}